*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

nav{
    background:#333;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 30px;
    font-family: arial;
}

.logo{
    font-size:24px;
    font-weight:bold;
}

ul{
    list-style:none;
    display:flex;
}

ul li{
    margin-left:20px;
}

ul li a{
    color:white;
    text-decoration:none;
}

button{
    display:none;
}

.hero{
    height: 100vh;
    background: radial-gradient(circle, #1f1041, #1f393a,rgb(157, 157, 137));
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-content h1{
    font-size: 80px;
    margin-bottom: 20px;
}

.hero-content h2{
    font-size: 30px;
    margin-bottom: 30px;
}

.hero-content p{
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-content button{
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#about{
    color: #fff;
    background: radial-gradient(circle, #1f1041, #1f393a,rgb(157, 157, 137));
    padding: 80px 20px;
    text-align: center;
}

.about-container{
    max-width: 800px;
    margin: auto;
}

.about-container h2{
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

.about-container p{
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 15px;
}

.about-container button{
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.about-container button:hover{
    background-color: #555;
}

#services{
    background: radial-gradient(circle, #1f1041, #1f393a,rgb(157, 157, 137));
    padding: 80px 20px;
    text-align: center;
    background-color: #ffffff;
}

#services h2{
    color: #fff;
    font-size: 40px;
    margin-bottom: 40px;
}

.services-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.service-card{
    width: 300px;
    background: #f4f4f4;
    box-shadow: 0 6px 15px rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.2);
    padding: 25px;
    border-radius: 10px;
    transition: 0.3s;
}

.service-card:hover{
    background: #000000;
    color: #ffffff;
    transform: translateY(-10px);
}

.service-card h3{
    margin-bottom: 15px;
}

.service-card p{
    line-height: 1.6;
}

#portfolio{
    background: radial-gradient(circle, #1f1041, #1f393a,rgb(157, 157, 137));
    padding: 80px 20px;
    text-align: center;
}

#portfolio h2{
    color: #fff;
    font-size: 40px;
    margin-bottom: 40px;
}

.portfolio-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card{
    width: 320px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.project-card:hover{
    transform: translateY(-10px);
}

.project-card img{
    width: 100%;
    display: block;
}

.project-card h3{
    margin: 15px 0;
}

.project-card p{
    padding: 0 15px;
    margin-bottom: 15px;
}

.project-card button{
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    background: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.project-card button:hover{
    background: #555;
}

#contact{
    padding: 80px 20px;
    text-align: center;
    background: radial-gradient(circle, #1f1041, #1f393a,rgb(157, 157, 137));
}

#contact h2{
    color: #fff;
    font-size: 40px;
    margin-bottom: 30px;
}

.contact-container{
    max-width: 600px;
    margin: auto;
}

.contact-container form{
    display: flex;
    flex-direction: column;
}

.contact-container input,
.contact-container textarea{
    margin: 10px 0;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-container button{
    margin-top: 15px;
    padding: 12px;
    font-size: 16px;
    border: none;
    background: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.contact-container button:hover{
    background: #555;
}

footer{
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

body{
    background: white;
    color: black;
    transition: 0.3s;
}

.dark-mode{
    background: #121212;
    color: white;
}

.dark-mode nav{
    background: #222;
}

.dark-mode .service-card,
.dark-mode .project-card{
    background: #333;
    color: white;
}

#skill{
    padding: 80px 20px;
    background: radial-gradient(circle, #1f1041, #1f393a,rgb(157, 157, 137))    ;
}



#skill h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
    color: #fff;
}

.skill{
    max-width: 700px;
    margin: 20px auto;
}

.skill p{
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
}

.progress{
    background: #ddd;
    border-radius: 20px;
    overflow: hidden;
}

.progress div{
    color: white;
    padding: 10px;
    text-align: right;
}

.html{
    width: 90%;
    background: orange;
}

.css{
    width: 85%;
    background: blue;
}

.js{
    width: 75%;
    background: green;
}

.java{
    width: 80%;
    background: red;
}
html{
    scroll-behavior: smooth;
}